################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dating_app_nhom3/Dating_app_nhom3.csproj
.vs/
